    <h2>New puppy!</h2>
    <form>
      Name:<input type="text" id="name" value="newName">
      <br>
      Breed:<input type="text" id="breed" value="newBreed">
      <br>
      Age:<input type="number" id="age" value="newAge">
      <br>
      Personality:<input type="text" id="personality" value="newPersonality">
      <br>
      <button action="createPuppy">Add Puppy!</button>
    </form>
